.container {
  margin-top: 25px;
  margin-left: 30px;
}
.img {
  height: 116px;
  width: 103px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 17px;
}
.content {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: var(--black-c);
}
.button-card {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  width: 340px;
  height: 40px;
}
.content-p {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  color: var(--black-c);
  font-size: 12px;
}
.bookmark-btn {
  background: #ffffff;
  text-align: center !important;
  margin: 0 auto !important;
  border-radius: 0;
  color: var(--black-c) !important;
  justify-content: center !important;
  display: flex;
}
